SUPABASE_URL='https://rljmvdkvedtzmgkznivz.supabase.co'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsam12ZGt2ZWR0em1na3puaXZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODYyMjE0NDYsImV4cCI6MjAwMTc5NzQ0Nn0.B_citWnEEaxa0OhpldLUBdIRqa2wKhl4Hioiiun3oKM'